@import "bootstrap";
@import "colors.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs_6{
    font-size: 1rem !important;
}

//padding & margin
.py_6{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.py_7{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

//arrows
.arrow-down{
    // display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $eastern_blue;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    // z-index: -1;
}
.arrow-up{
    // display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    // z-index: -1;
}

//buttons 
.btn-blue{
    color: #fff;
    background-color: $eastern_blue;
    border-color: $eastern_blue;
}