@import "bootstrap";
@import "colors.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs_6{
    font-size: 1rem !important;
}

.arrow-down{

    // display: block;
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    margin: 0 auto;
}